.product-description-container {
    display: flex;
    height: 100vh;
  }
  
  .input-container {
    flex: 1;
    padding: 20px;
  }
  
  .output-container {
    flex: 1;
    padding: 20px;
  }
  
  .submit-button {
    position: absolute;
    right: 25px;
    top: 10px;
    background-color: black;
    border-color: aqua;
    border: 1px solid aqua;
  }
  
  .submit-button:active {
    animation: button-active 0.1s ease-in-out forwards;
  }

@keyframes button-active {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}