.product-description-container {
    display: flex;
    height: 100vh;
  }
  
  .input-container {
    flex: 1;
    padding: 20px;
  }
  
  .output-container {
    flex: 1;
    padding: 20px;
  }
  
  .submit-button {
    position: absolute;
    right: 25px;
    top: 10px;
    background-color: black;
    border-color: aqua;
    border: 1px solid aqua;
  }